name: Terraform Deploy

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: producao

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.0

      - name: Terraform Init
        run: terraform init

      - name: Terraform Imports
        continue-on-error: true
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ZONE_1: ${{ secrets.AWS_ZONE_1 }}
          AWS_ZONE_2: ${{ secrets.AWS_ZONE_2 }}
        run: ./scripts/tf_imports.sh

      - name: Terraform Plan
        run: |
          terraform plan \
          -var="aws_region=${{ secrets.AWS_REGION }}" \
          -var="aws_zone_1=${{ secrets.AWS_ZONE_1 }}" \
          -var="aws_zone_2=${{ secrets.AWS_ZONE_2 }}" \
          -out=tfplan

      - name: Terraform Apply
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          terraform apply \
          -var="aws_region=${{ secrets.AWS_REGION }}" \
          -var="aws_zone_1=${{ secrets.AWS_ZONE_1 }}" \
          -var="aws_zone_2=${{ secrets.AWS_ZONE_2 }}" \
          -auto-approve
